#home {
    padding-top: 110px;
    background: url('photos/borabora01.jpg') no-repeat center;
    height: 350px;
    background-size: cover;
}

#title {
    text-align: center;
    font-size: 40px;
    font-family: Papyrus;
}

#slogan1 {
    text-align: center;
    font-size: 30px;
    font-family: Papyrus;
}

<<<<<<< HEAD
.img-rounded {
    transition: transform 2s;
}

.img-rounded:hover {
    transform: rotateY(360deg);
}

.img-circle {
    transition: transform 2s;
}

.img-circle:hover {
    transform: rotateY(360deg);
}
#gp{
    transition: transform 2s;
}

#gp:hover{
    transform: rotateY(360deg);
}


#gallery img {
    text-align: center;
    width: 100%;
    height: 250px;
}

#btitle {
    text-align: center;
    font-size: 30px;
    font-family: Papyrus
}

#villa {
    background-color: #99ceff;
}

#vtitle {
    text-align: center;
    font-size: 20px;
    font-family: Papyrus
}

#rtitle {
    text-align: center;
    font-size: 30px;
    font-family: Papyrus
}

h4 {
    font-family: Papyrus
}

#villas1 {
    font-family: Courier New;
}

#htitle {
    text-align: center;
    font-size: 20px;
}

#hfeature {
    padding-left: 50px;
     font-family: Papyrus
    
}

#contactus {
    text-align: center;
}

#hp1,
#hp2,
#hp3 {
    position: absolute;
    top: 19px;
    bottom: 0px;
    left: 42px;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    height: 200px;
    width: 250px;
    text-align: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    font-family: Courier New;
}

#hd1:hover #hp1 {
    visibility: visible;
    opacity: 1;
    text-align: center;
    padding: 30px;
}

#hd2:hover #hp2 {
    visibility: visible;
    opacity: 1;
    text-align: center;
    padding: 10px;
}

#hd3:hover #hp3 {
    visibility: visible;
    opacity: 1;
    text-align: center;
    padding: 10px;
}
jumbotron{
    font-family: Courier New;
}

@media only screen and (min-width: 480px) {
    #home {
        padding-top: 150px;
        background: url('photos/borabora01.jpg') no-repeat center;
        height: 400px;
        background-size: cover;
    }
    #title {
        text-align: center;
        font-size: 50px;
    }
    #slogan1 {
        text-align: center;
        font-size: 40px;
    }
    #btitle {
        text-align: center;
        font-size: 40px;
    }
    #gallery img {
        text-align: center;
        width: 324px;
        height: 246px;
    }
    #vtitle {
        text-align: center;
        font-size: 30px;
    }
    #rtitle {
        text-align: center;
        font-size: 40px;
    }
    #gallery {
        text-align: center;
    }
    #htitle {
        text-align: center;
        font-size: 30px;
    }
    /*#row{ */
    /*    text-align: center;*/
    /*}*/
    /*#hfeature{*/
    /*    padding-left: 200px;*/
}

@media(min-width:768px) {
    #home {
        padding-top: 190px;
        background: url('photos/borabora01.jpg') no-repeat center;
        height: 500px;
        background-size: cover;
    }
    #title {
        text-align: center;
        font-size: 60px;
    }
    #slogan1 {
        text-align: center;
        font-size: 50px;
    }
    #btitle {
        text-align: center;
        font-size: 50px;
    }
    #gallery img {
        text-align: center;
        width: 304px;
        height: 236px;
    }
    #vtitle {
        text-align: center;
        font-size: 40px;
    }
    #rtitle {
        text-align: center;
        font-size: 50px;
    }
    #gallery {
        text-align: center;
    }
    #htitle {
        text-align: center;
        font-size: 40px;
    }
}

    text-align: center;
    font-size: 50px;

}
#btitle{
    text-align: center;
    font-size: 50px;
}
#gallery img{
     text-align: center;
     width: 334px;
     height: 256px;
}
#vtitle{
    text-align: center;
    font-size: 40px;
}
#rtitle{
    text-align: center;
    font-size: 50px;
}
#gallery{
     text-align: center;
}
#htitle{
    text-align: center;
    font-size: 40px;
}
  
}

/* medium+ */

@media(min-width:992px) {

    #home {
        padding-top: 190px;
        background: url('photos/borabora01.jpg') no-repeat center;
        height: 600px;
        background-size: cover;
    }
    #title {
        text-align: center;
        font-size: 70px;
    }
    #slogan1 {
        text-align: center;
        font-size: 60px;
    }
    #btitle {
        text-align: center;
        font-size: 60px;
    }
    #gallery img {
        text-align: center;
        width: 324px;
        height: 256px;
    }
    #vtitle {
        text-align: center;
        font-size: 50px;
    }
    #rtitle {
        text-align: center;
        font-size: 60px;
    }
    #gallery {
        text-align: center;
    }
    #htitle {
        text-align: center;
        font-size: 50px;
    }

       #home{
    padding-top: 190px;
    background: url('photos/borabora01.jpg') no-repeat center;
    height: 600px;
    background-size: cover;
    
}

#title{
    text-align: center;
    font-size: 70px;
}
#slogan1{

    text-align: center;
    font-size: 60px;

}
#btitle{
    text-align: center;
    font-size: 60px;
}
#gallery img{
     text-align: center;
     width: 344px;
     height: 266px;
}
#vtitle{
    text-align: center;
    font-size: 50px;
}
#rtitle{
    text-align: center;
    font-size: 60px;
}
#gallery{
     text-align: center;
}
#htitle{
    text-align: center;
    font-size: 50px;
}
}


/* large+ */

@media(min-width:1200px) {
    #home {
        padding-top: 100px;
        background: url('photos/borabora01.jpg') no-repeat center;
        height: 700px;
        background-size: cover;
    }
    #title {
        text-align: center;
        font-size: 100px;
    }
    #slogan1 {
        text-align: center;
        font-size: 70px;
    }
    #gallery img {
        text-align: center;
        width: 334px;
        height: 266px;
    }
    #btitle {
        text-align: center;
        font-size: 70px;
    }
    #villa {
        background-color: #99ceff;
    }
    #vtitle {
        text-align: center;
        font-size: 50px;
    }
    #rtitle {
        text-align: center;
        font-size: 70px;
    }
    #htitle {
        text-align: center;
        font-size: 50px;
    }
    #hfeature {
        padding-left: 100px;
    }

    padding-top: 200px;
    background: url('photos/borabora01.jpg') no-repeat center;
    height: 700px;
    background-size: cover;
}

#title {
    text-align: center;
    font-size: 100px;
}

#slogan1 {
    text-align: center;
    font-size: 70px;
}


#gallery img {
    text-align: center;
    width: 354px;
    height: 276px;
   
}

#btitle {
    text-align: center;
    font-size: 70px;
}

#villa {
    background-color: #99ceff;
}

#vtitle {
    text-align: center;
    font-size: 50px;
}

#rtitle {
    text-align: center;
    font-size: 70px;
}

#htitle {
    text-align: center;
    font-size: 50px;
}

#hfeature {
    padding-left: 100px;
}
}
